%table.form
  %tr
    %td= form.label :name
    %td= form.text_field :name
  %tr
    %td= form.label :number
    %td= form.text_field :number
  %tr
    %td= form.label :route
    %td= form.select :route, [['Yellow', 'yellow'], ['Red', 'red'], ['Gray','gray'], ['Pink', 'pink'], ['Blue','blue'], ['Green','green'], ['Light Blue','light_blue'], ['White', 'white']]
    
