<% if current_user.admin? %>
  <p><%= link_to "Add Prize Category", new_prize_category_path %></p>
<% end %>

<table>
  <tr>
    <th>Category</th>
    <% if !current_user.admin? %>
      <th>Team</th>
    <% end %>
  </tr>
  <% @prize_categories.each do |prize_category| %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= prize_category.name %></td>

      <% if !current_user.admin? %>
        <td>
          <%= form_for [prize_category, Vote.new] do |f| %>
            <%= f.collection_select :team_id, Team.all, :id, :name, 
              { :selected =>  prize_category.votes.where(:user_id => current_user.id).first.try(:team_id),
                :prompt => true } %>
                <%= f.hidden_field :prize_category_id, :value => prize_category.id %>
                <%= f.submit "Cast Vote"%>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
