!!!
%html
  %head
    %title  Chiditarod
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery.js", "jquery.rails.js", "jquery-ui.js"
    = javascript_include_tag "application.js"
    = yield :javascript
    = csrf_meta_tag
  %body
    #container
      #header
        -if current_user.present?
          Help?  Call / Text Brian at 740.417.6435
        .flag-top
        .header-content
          =image_tag("chi-star.gif", :class => 'image-left')
          =image_tag("chi-star.gif", :class => 'image-left')
          %h1.header-text Chiditarod
          =image_tag("chi-star.gif", :class => 'image-right')
          =image_tag("chi-star.gif", :class => 'image-right')
      #nav_container
        %ul#nav
          %li= link_to 'home', root_path
          -if current_user.present? && current_user.admin?
            %li= link_to 'teams', teams_path
            %li= link_to 'checkpoints', checkpoints_path
            %li= link_to 'totals', totals_path
          - if current_user.present?
            %li= link_to 'prizes', prize_categories_path
            %li= link_to 'Log Out', :logout, :title => 'Log Out', :class => 'dark-bg', :role => 'button'

      .main
        .content
          %p.notice=flash[:notice]
          = yield
